<div id="middle-container" class="box">
  <div id="user-info">
    <% if user_signed_in? %>
      <%= current_user.name %> [<%= link_to "Salir", signout_path %>]
    <% else %>
      <%= link_to "Entrar ".html_safe + image_tag("facebook.png", :size => "32"),
            signin_path_with_redirect %>
    <% end %>
  </div>
  
  <div id="search">
    <%= form_tag(search_strip_collection_strips_path(strip_collection), 
          {:method => :get, :enforce_utf8 => false}) do %>
      <%= text_field_tag :text, params[:text], accesskey: "s" %>
      <%= submit_tag 'Buscar', {:name => nil} %>
    <% end %>
  </div>
  
  <%= yield %>
  
  <hr />
  
  <div id="footer">
    <span class="info">
      <%= link_to "Transcripciones", strip_collection_transcripts_path(strip_collection) %>:
      <% strip_collection.strips.as do |strips| %>
        <% [strips.with_transcriptions.count, strips.count].as do |tcount, count| %>
          <%= tcount %>/<%= count %>
          (<%= count >  0 ? "%0.1f" % (100.0*tcount / count) : "-"  %>%)
        <% end %>  
      <% end %>
      
      <% strip_collection.transcripts.by_version(:desc).first.if_present_as do |transcript| %>
        - Hoy: <%= Strip.transcribed_today.count %> <%= transcribed_today_count %>
        - Última: <%= link_to transcript.strip.title, strip_path(transcript.strip) %>
        por <%= transcript.user_name %> hace <%= time_ago_in_words(transcript.created_at) %>
      <% end %>  
    </span>
    
    <%= strip_collection.footer.maybe.html_safe.value %>
  </div>
</div>
