<% vote = strip.vote_by(current_user) %>

<div class="rating-box" data-current-rating="<%= vote.try(:value) %>" >
  <span class="rating-info">
    Valoración: 
    <span class="visible-on-ratings" style="<%= 'display: none' if strip.votes.empty? %>">
      <span class="rating-total">
        <%= "%0.1f" % strip.votes.average(:value).to_f %>
      </span>
      (de <span class="rating-count"><%= strip.votes.count %></span> usuarios)
    </span>
  </span>
  
  <span class="ratings">
    <% 1.upto(5).each do |n| %>
      <%= link_to n,
            user_signed_in? ? 
              vote_path(:type => :strip, :id => strip.id, :value => n) : 
              signin_path_with_redirect,
            :accesskey => n,
            :class => ["rating", ("can-vote" if user_signed_in?), 
                       (vote && n <= vote.value) ? "voted" : "non-voted"].compact, 
            :id => "rating-#{n}", 
            :"data-rating" => n %>
    <% end %>
  </span>
  
  <%= image_tag "spinner-small.gif", :style => "display: none", :class => "spinner" %>
</div>
<br />
