<%= render_layout "layout", {
      :strip_collection => @strip_collection, 
      :title => @strip_collection.name,
    } do %>
    
  <%= link_to(@strip_collection.name, [@strip_collection]) %>
  
  <% start = (@strips.current_page - 1) * @per_page  + 1 %>
  <div id="search-results">
    <%= @strips.total_count %> resultados
    (mostrando: <%= start %>-<%= (start + @strips.size - 1) %>) 
  </div>
  
  <%= paginate @strips %>
  
  <%= render_join(@strips.map.with_index, tag(:hr).html_safe) do |strip, idx| %>
    <div id="ctitle">
      [<%= start + idx %>] <%= strip.title %>
    </div>

    <div id="comic">
      <%= link_to strip_path(strip) do %>
        <%= image_tag strip.image.url, :width => "800", :height => "228" %>
      <% end %>
    </div>
    
    <div id="transcript">
      <%= content_tag(:pre, highlight(strip.text, params[:text]), class: "text") %>
    </div>
  <% end %>
  
  <%= paginate @strips %>
<% end %>
