<%= render_layout "layout", {
      :strip_collection => @strip_collection, 
      :title => @strip_collection.name,
    } do %>
  <div id="search-results">
    <%= @strips.size %> tira(s) encontradas.
  </div>
  
  <%= render_join(@strips.map.with_index, tag(:hr).html_safe) do |strip, idx| %>
    <div id="ctitle">
      [<%= idx + 1 %>] <%= strip.title %>
    </div>

    <div id="comic">
      <%= image_tag strip.image.url, :width => "800", :height => "228" %>
    </div>
    
    <div id="transcript">
      <%= content_tag(:pre, strip.text, class: "text") %>
    </div>
  <% end %>
<% end %>
