<%= content_for(:head_title, @strip.title) %>

<div id="middleContainer" class="box">
  <div id="user-info">
    <% if current_user %>
      <%= current_user.name %> [<%= link_to "Salir", signout_path %>]
    <% else %>
      <%= link_to "Entrar ".html_safe + image_tag("facebook.png", :size => "32"), signin_path %>
    <% end %>
  </div>
  
  <div id="ctitle">
    <%= @strip.title %>
    (<%= @pagination.index + 1 %> de <%= @pagination.total %>)
  </div>
  
  <ul class="comicNav">
    <li><%= link_to "|<", strip_path(@pagination.first), :accesskey => "f" %></li>
    <li><%= link_to "< Anterior", strip_path(@pagination.previous), :accesskey => "p" %></li>
    <li><%= link_to "Aleatorio", random_path_for_collection_strip(@strip), :accesskey => "r" %></li>
    <li><%= link_to "Siguiente >", strip_path(@pagination.next), :accesskey => "n" %></li>
    <li><%= link_to "Last >|", strip_path(@pagination.last), :accesskey => "l" %></li>
  </ul>
  
  <div id="comic">
    <%= image_tag @strip.image.url, :width => "800", :height => "228" %>
  </div>
  
  <div id="transcript" class="<%= current_user ? 'editable' : '' %>">
    <div class="toggle-edit">
      <%= content_tag(:pre, @strip.current_text, class: "text") %>
     
      <% if current_user %>
        <%= link_to "Editar", "#", :accesskey => "e", :"data-toggle" => ".toggle-edit" %>
      <% else %>
        <%= link_to "Entrar para editar", signin_path %>
      <% end %>
    </div>

    <% if current_user %>
      <%= form_for @strip.transcripts.new(:text => @strip.current_transcript.try(:text)), 
            :url => strip_collection_strip_transcripts_path(@strip.strip_collection, @strip),
            :html => {:class => "toggle-edit", :style => "display: none"} do |form|%>
        <%= form.text_area :text %>
        
        <br />
        <%= form.submit "Guardar" %>
        <%= link_to "Cancelar", "#", :"data-toggle" => ".toggle-edit" %>
      <% end %>
    <% end %>

    <% if (tcount = @strip.transcripts.count) > 0 %>
      <div id="history">
        <%= link_to "Historial (%s)" % tcount, "javascript:void()",
              :accesskey => "h", :"data-toggle" => "#transcript-history" %>
        
        <div id="transcript-history" style="display: none">
          <ul>
            <% @strip.transcripts.includes(:user).by_version(:asc).map.with_index.reverse_each do |transcript, idx| %>
              <li>
                <%= idx + 1 %>.
                <%= transcript.user.name %> -
                <%= transcript.created_at.utc.strftime("%d/%m/%Y %H:%M UTC") %> -
                <%= link_to "texto", "javascript:void()", 
                      :"data-toggle" => "#transcript-#{transcript.id}" %>
                <%= content_tag(:pre, transcript.text, 
                      :id => "transcript-#{transcript.id}", 
                      :style => "display:none") %>   
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div id="footer">
    <%= @strip.strip_collection.footer.html_safe %>
  </div>
</div>
