<div id="middleContainer" class="box">
  <div id="ctitle">
    <%= @strip.title %>
    (<%= @pagination.index %> de <%= @pagination.total %>)
  </div>
  
  <ul class="comicNav">
    <li><%= link_to("|<", @pagination.first) %></li>
    <li><%= link_to("< Anterior", @pagination.previous) %></li>
    <li><%= link_to("Aleatorio", random_strips_path) %></li>
    <li><%= link_to("Siguiente >", @pagination.next) %></li>
    
    <li><%= link_to("Last >|", @pagination.last) %></li>
  </ul>
  
  <div id="comic">
    <%= image_tag @strip.image.url, :width => "800", :height => "228" %>
  </div>

  <hr />
  &#169; Quino |
  <a href="http://en.wikipedia.org/wiki/Mafalda">Wikipedia</a> |
  <a href="https://www.google.es/search?q=comprar+mafalda">Comprar</a>
</div>
