<div id="middleContainer" class="box">
  <div id="user-info">
    <% if current_user %>
      <%= current_user.name %> (<%= link_to "Salir", signout_path %>)
    <% else %>
      <%= link_to "Entrar ".html_safe + image_tag("facebook.png", :size => "32"), signin_path %>
    <% end %>
  </div>
  
  <div id="ctitle">
    <%= @strip.title %>
    (<%= @pagination.index + 1 %> de <%= @pagination.total %>)
  </div>
  
  <ul class="comicNav">
    <li><%= link_to "|<", @pagination.first %></li>
    <li><%= link_to "< Anterior", @pagination.previous %></li>
    <li><%= link_to "Aleatorio", random_strips_path %></li>
    <li><%= link_to"Siguiente >", @pagination.next %></li>
    <li><%= link_to "Last >|", @pagination.last %></li>
  </ul>
  
  <div id="comic">
    <%= image_tag @strip.image_url, :width => "800", :height => "228" %>
  </div>
  
  <div id="transcript" class="<%= current_user ? 'editable' : '' %>">
    <div class="toggle-edit">
      <%= content_tag(:pre, @strip.current_text, class: "text") %>
     
      <% if current_user %>
        <%= link_to "Editar", "#", :"data-toggle" => ".toggle-edit" %>
      <% else %>
        <%= link_to "Entrar para editar", signin_path %>
      <% end %>
    </div>

    <% if current_user %>
      <%= form_for @strip.transcripts.new(:text => @strip.current_transcript.try(:text)), 
            :url => strip_transcripts_path(@strip),
            :html => {:class => "toggle-edit", :style => "display: none"} do |form|%>
        <%= form.text_area :text %>
        
        <br />
        <%= form.submit "Guardar" %>
        <%= link_to "Cancelar", "#", :"data-toggle" => ".toggle-edit" %>
      <% end %>
    <% end %>

    <% if (tcount = @strip.transcripts.count) > 0 %>
      <div id="history">
        <%= link_to "Historial (%s)" % tcount, "javascript:void()",
              :"data-toggle" => "#transcript-history" %>
        
        <div id="transcript-history" style="display: none">
          <ul>
            <% @strip.transcripts.by_version(:asc).each_with_index.
                  to_a.reverse.each do |transcript, idx| %>
              <li>
                <%= idx + 1 %>.
                <%= transcript.user.name %> -
                <%= transcript.created_at.localtime.strftime("%d/%m/%Y %H:%M") %> -
                <%= link_to "texto", "javascript:void()", 
                      :"data-toggle" => "#transcript-#{transcript.id}" %>
                <pre id="transcript-<%= transcript.id %>" style="display: none"><%= transcript.text %></pre>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div id="footer">
    <br />
    &#169; Quino |
    <a href="http://en.wikipedia.org/wiki/Mafalda">Wikipedia</a> |
    <a href="https://www.google.es/search?q=comprar+mafalda">Comprar</a>
  </div>
</div>
