<!DOCTYPE html>
<html>
  <head>
    <%= render_title("Stryptor - Comic strips transcriptor", title) %>
    <%= favicon_link_tag(favicon) %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_globals %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= tag :link, :rel => "image_src", :href => image_src if image_src %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div id="flash">
      <% flash.each do |type, message| %>
        <div class="alert <%= type %> fade in">
          <button class="close" data-close=".alert">×</button>
          <%= message %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
