<!DOCTYPE html>
<html>
  <head>
    <%= title("Stryptor - Comic strips transcriptor", :head_title, join_string: " - ") %>
    <%= favicon_link_tag content_for(:favicon) || 'snoopy.gif' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'jquery.a-tools-1.4.1', 'jquery.assugest',
          'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div id="flash">
      <% flash.each do |type, message| %>
        <div class="alert <%= type %> fade in">
          <button class="close" data-close=".alert">×</button>
          <%= message %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
